.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 5px;
  justify-content: left;
}

.grid-item {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  color: black;
  text-align: center;
}

input {
  border-width: 0px;
  border: none;
  outline: none;
  width: 20px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.Button-grid{
  display: grid;
  padding: 30px;
  grid-template-columns: 100px 100px;
  grid-gap: 5px;
  justify-content: center;
}
.sudoku-button{
  background-color: #282c34;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  color: rgb(255, 250, 250);
  text-align: center;
  font-weight: bold;
}